<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog Posts{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        [
            <strong><a href="{{ path('index') }}">Impersonate</a></strong> |
            <strong><a href="{{ path('post_list') }}">Listing</a></strong> |
            <strong><a href="{{ path('post_admin_list') }}">Backend</a></strong>
        ]
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
