{% extends 'base.html.twig' %}
{% block body %}

<h2>{{ post.postId ? 'Edit' : 'Create' }} Post</h2>
<h3>
    ID: {{ post.postId ?: '(NEW)' }} |
    Author: {{ post.authorId }}
</h3>

{{ form(form) }}

{% endblock %}